:root {
    --primary-blue: rgba(32, 174, 243, 1);
    --secondary-green: hsl(134, 61%, 41%);
    --light-blue: rgba(226, 246, 255, 1);
    --white: rgba(255, 255, 255, 1);
    --black: rgba(0, 0, 0, 1);
    --gray: rgba(160, 160, 160, 1);
    --dark-gray: rgba(141, 141, 141, 1);
    --very-light-gray: hsl(210, 17%, 95%);
    --red: rgba(251, 76, 36, 1);
    --green: rgba(71, 199, 130, 1);
  }